.page-calendar {

  .main-header {
    height: auto;
  }

  .content {
    overflow: visible;
    background-color: @black-currant;

    @media(min-width: @screen-lg-min){
      background-color: transparent;
    }
  }

  .post {
    padding-top: @gutter;
    padding-bottom: @gutter;
    margin-bottom: 0;
    width: 100%;
  }

  .post-header {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    top: -2em;
    left: 1em;

    @media(min-width: @screen-md-min){
      top: -2.4em;
      left: 3em;
      width: 90%;
    }

    @media(min-width: @screen-lg-min){
      top: -4em;
      left: 0;
      width: 100%;
    }

    // @media(min-width: @screen-xl-min){
    //   left: 1em;
    // }
  }

  .post-title {
    display: none;

    &.current {
      display: block;
      margin-top: 0;
      line-height: 1em;
      height: 1em;
      text-transform: uppercase;
      text-shadow: -1px -1px 15px rgba(0,0,0,0.5);
      color: white;
      font-size: 2.5em;

      @media(min-width: @screen-sm-min){
        font-size: 3em;
      }
      @media(min-width: @screen-lg-min){
        text-shadow: none;
        font-size: 5em;
      }
    }
  }

  .post-content{

    .calendar {
      display: none;

      &.current {
        display: table;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.calendar-arrows {
  position: absolute;
  right: 5rem;
  bottom: 0;

  button {
    background-color: white;
    outline: none;
    color: @kimberly;
    font-size: 3rem;
    border-radius: @border-radius;

    &:hover {
      color: @black-currant;
    }
    @media(min-width: @screen-lg-min){
      font-size: 4em;
    }
  }
  @media(min-width: @screen-md-min){
    right: 0;
  }
}

table.calendar {
  font-size: 0.75em;

  @media(min-width: @screen-sm-min){
    font-size: 1em;
  }

  @media(min-width: @screen-lg-min){
    border-right: 1px solid @wild-sand;
    border-bottom: 1px solid @wild-sand;
  }

  tr {
    background-color: transparent;
  }
  thead td {
    text-align: center;
    text-transform: uppercase;
    color: @hit-grey;

    @media(min-width: @screen-lg-min){
      padding-bottom: @gutter*4;
    }
  }
  tbody > tr:nth-child(odd) {
    th, td {
      background-color: transparent;
    }
  }
  tbody td {
    padding: 0;
    width: 14.28%;
    border: none;
    position: relative;

    @media(min-width: @screen-lg-min){
      border-left: 1px solid @wild-sand;
      border-top: 1px solid @wild-sand;
    }

    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }

    > div {
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      border-radius: 50%;

      @media(min-width: @screen-sm-min){
        top: 6px;
        right: 6px;
        bottom: 6px;
        left: 6px;
      }

      @media(min-width: @screen-sm-min){
        top: 9px;
        right: 9px;
        bottom: 9px;
        left: 9px;
      }

      @media(min-width: @screen-lg-min){
        border-radius: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.date {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: @light-grey;
  z-index: 1;

  @media(min-width: @screen-lg-min){
    color: @hit-grey;
  }

  &:focus,
  &:hover,
  &:active {
    color: white;

    @media(min-width: @screen-lg-min){
      color: @hit-grey;
    }
  }

  &[disabled] {
    opacity: 0.25;
  }

  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;

    @media(min-width: @screen-lg-min){
      vertical-align: top;
      text-align: left;
      left: @quarter-gutter;
      top: @quarter-gutter;
    }
  }
}


.events {
  height: 100%;
  position: relative;

  @media(min-width: @screen-lg-min){

    padding-top: @gutter*1.5;
    overflow: auto;

    .date:focus ~ & {
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
  }
}

.event {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;

  @media(min-width: @screen-md-min){
    border-width: 5px;
  }

  @media(min-width: @screen-lg-min){
    border-radius: 0;
    border: none;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: @quarter-gutter @half-gutter;

    .event-name {
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:nth-child(2){
    border-top-color: transparent;
    border-left-color: transparent;
  }

  &:nth-child(3){
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  &:nth-child(4){
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  & > * {
    display: none;

    @media(min-width: @screen-lg-min){
      display: block;
    }
  }

  .date:focus ~ .events &:first-child {
    box-shadow: 0 0 40px black;

    @media(min-width: @screen-lg-min){
      box-shadow: none;
    }
  }
}

.calendar-popup {
  display: none;
  position: absolute;
  width: 700%;
  top: 110%;
  left: 0;
  height: auto;
  padding: @gutter;
  color: @body-color;
  z-index: 2;
  background-color: @wild-sand;
  box-shadow: @box-shadow;
  border-radius: @border-radius;

  @media(min-width: @screen-lg-min){
    background-color: white;
  }

  h2 {
    font-weight: 200;
    font-size: 1em;
    text-transform: uppercase;
    color: @hit-grey;
    padding-bottom: @quarter-gutter;
    margin-top: 0;
    border-bottom: 1px solid @light-grey;
  }

  h3 {
    font-size: 1em;
    position: relative;
    margin-bottom: @half-gutter;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -@gutter;
      top: @quarter-gutter;
      border-radius: 50%;
      width: @half-gutter;
      height: @half-gutter;
      background-color: @hit-grey;

      @media(min-width: @screen-lg-min){
        top: 0;
        left: -@gutter * 1.5;
        width: @gutter;
        height: @gutter;
      }
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  > ul {
    padding-left: @gutter;
    margin: 0;

    @media(min-width: @screen-lg-min){
      padding-left: @gutter * 1.5;
    }

    > li {
      list-style: none;
    }
  }

  tr:nth-child(4) &,
  tr:nth-child(5) &,
  tr:nth-child(6) & {
    top: auto;
    bottom: 110%;
  }

  td:nth-child(2) & { left: -100%; }
  td:nth-child(3) & { left: -200%; }
  td:nth-child(4) & { left: -300%; }
  td:nth-child(5) & { left: -400%; }
  td:nth-child(6) & { left: -500%; }
  td:nth-child(7) & { left: -600%; }

  .date:focus ~ &,
  .date:hover ~ & {
    display: block;
  }
}

.calendar-key {

  background-color: rgba(0,0,0,0.3);
  margin-left: -@gutter;
  margin-right: -@gutter;
  padding-left: @gutter;
  padding-right: @gutter;
  max-width: none;

  @media(min-width: @screen-lg-min){
    background-color: transparent;
    margin-top: @gutter;
  }

  .post-title {
    display: block;
    color: @light-grey;
    text-transform: uppercase;
    margin-bottom: @half-gutter;
  }

  ul {
    padding-left: 0;

    > li {

      list-style: none;
      color: white;

      @media(min-width: @screen-lg-min){
        color: @body-color;
      }

      &:before {
        content: '';
        display: inline-block;
        position: relative;
        top: 3px;
        width: 20px;
        height: 20px;
        margin-right: @half-gutter;
        border: 3px solid rgba(255,255,255,0.4);
        border-radius: 50%;

        @media(min-width: @screen-lg-min){
          border-width: 10px;
        }
      }

      &.event-half-day {

        position: relative;

        &:before {
          border-right: none;
          width: 10px;
          border-top-left-radius: 1000px;
          border-bottom-left-radius: 1000px;
          margin-right: 20px;
        }

        @media(min-width: @screen-lg-min){
          display: none;
        }
      }
    }
  }
}


.event-no-school {
  border-color: @picton-blue;

  @media(min-width: @screen-lg-min){
    .event& {
      background-color: fade(@picton-blue, 50%);
    }
  }

  h3:before {
    background-color: @picton-blue;
  }
  .calendar-key li&:before {
    border-color: @picton-blue;
  }
}
.event-school-event {
  border-color: @picasso;

  @media(min-width: @screen-lg-min){
    .event& {
      background-color: fade(@picasso, 50%);
    }
  }

  h3:before {
    background-color: @picasso;
  }
  .calendar-key li&:before {
    border-color: @picasso;
  }
}
.event-parents-only {
  border-color: @primoris-green-light;

  @media(min-width: @screen-lg-min){
    .event& {
      background-color: fade(@primoris-green-light, 50%);
    }
  }

  h3:before {
    background-color: @primoris-green-light;
  }
  .calendar-key li&:before {
    border-color: @primoris-green-light;
  }
}
.event-field-trip {
  border-color: @sea-buckthorn;

  @media(min-width: @screen-lg-min){
    .event& {
      background-color: fade(@sea-buckthorn, 50%);
    }
  }

  h3:before {
    background-color: @sea-buckthorn;
  }
  .calendar-key li&:before {
    border-color: @sea-buckthorn;
  }
}
.event-open-house {
  border-color: @kimberly;

  @media(min-width: @screen-lg-min){
    .event& {
      background-color: fade(@kimberly, 50%);
    }
  }

  h3:before {
    background-color: @kimberly;
  }
  .calendar-key li&:before {
    border-color: @kimberly;
  }
}
.event-half-day {
  border-color: transparent;

  .event&:before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 50%;
    border: 4px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    border-right: none;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;

    @media(min-width: @screen-md-min){
      top: 8px;
      left: 8px;
      bottom: 8px;
      border-width: 6px;
    }
    @media(min-width: @screen-lg-min){
      display: none;
    }
  }
}

