.site-footer {
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: rgba(255,255,255,0.5);
    padding: @gutter;
    font-size: 1.5rem;
    line-height: 1.5em;
    background-color: @black-currant;

  a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
      opacity: 1;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social {

    margin-top: @gutter;
    margin-bottom: @gutter;

    ul {
      margin-top: @quarter-gutter;
    }

    li {
      display: inline-block;
      margin-right: @half-gutter;
    }
    a {
      opacity: 0.4;

      &:focus,
      &:hover,
      &:active {
        opacity: 0.8;
      }
    }
    img {
      width: 30px;
    }
  }

  &.sub-footer {
    background-color: darken(@black-currant, 10%);
    font-size: 0.65em;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 600px;
      background-color: darken(@black-currant, 10%);
    }
  }
}

.site-footer-emblum {
  max-width: 160px;
  opacity: 0.5;
}



