.site-footer {
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: @mantle;
    padding: @gutter;
    font-size: 1.25rem;
    background-color: @wild-sand;

  a {
    color: @mantle;
    text-decoration: none;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social {

    li {
      display: inline-block;
      margin-right: @half-gutter;
    }
    a {
      opacity: 0.4;
      &:focus,
      &:hover,
      &:active {
        opacity: 0.8;
      }
    }
    img {
      width: 20px;
    }
  }

  .copyright {

  }
}

.site-footer-emblum {
  max-width: 200px;
  opacity: 0.5;
}



