.main-header {
  height: 65vh;
  position: relative;
}

@duration-in: 100%/(@slideshow-slide-duration*@slideshow-slide-count)*@slideshow-transition-duration + 1;
@duration-out-start: 100%/@slideshow-slide-count + 1;
@duration-out-end: @duration-out-start + @duration-in;

@keyframes hero-fade {
  0% { opacity: 0; }
  @{duration-in} { opacity: 1; }
  @{duration-out-start} { opacity: 1; }
  @{duration-out-end} { opacity: 0; }
  100% { opacity: 0; }
}

.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;

  @media(min-width: @screen-md-min){
    opacity: 0;
    animation: hero-fade @slideshow-slide-duration*@slideshow-slide-count linear infinite 0s;

    &.hero-1 {
      opacity: 1;
      animation: none;
    }
  }
}

.hero-loop(@n, @i: 1) when (@i < @n) {
  @slide-index: @i + 1;
  .hero-@{slide-index} {
    animation-delay: 1s * (@i * @slideshow-slide-duration);
  }
  .hero-loop(@n, (@slide-index));
}
.hero-loop(@slideshow-slide-count);


.blog-block {

  border: @quarter-gutter solid @wild-sand;
  padding: 0;

  section,
  footer {
    padding: 0 @gutter*2;
  }
}

.blog-block-img {
  height: @gutter*5;
  display: block;
  background-size: cover;
  background-position: center center;
}

.blog-block-date {

  text-align: center;
  color: @mantle;

  .blog-block-day {
    display: block;
    font-size: 3em;
    font-weight: 600;
  }
  .blog-block-month {
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .blog-block-year {
    display: block;
  }
}

#map {
  height: @gutter*16;
}
