.site-wrapper {
  position: relative;
  z-index: 10;
  min-height: 100%;
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
  
  .nav-opened & {
    -webkit-transform: translate3D(0, @gutter*2 + @mobile-nav-li-height*4, 0);
            transform: translate3D(0, @gutter*2 + @mobile-nav-li-height*4, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
  }
}

.nav-mobile,
.nav-main {
  
  ul {
    margin: 0;
  }
  li {
    list-style: none;
  }

  a,
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
  }
}

.nav-mobile {
  background-color: @cape-cod;
  box-shadow: inset 0 0 200px rgba(0,0,0,0.6);
  color: white;
  padding-bottom: 3em;
  position: absolute;
  width: 100%;

  ul {
    padding: @gutter;
    text-align: center;
  }
  a {
    color: white;
    text-shadow: 0 0 24px rgba(0,0,0,0.8);
    text-transform: uppercase;
    line-height: @mobile-nav-li-height;
    height: @mobile-nav-li-height;
    letter-spacing: -.03rem;
  }
}

.nav-main {
  position: relative;
  background-color: white;
  height: @nav-height-sm;
  
  @media(min-width: @screen-md-min){
    position: absolute;
    height: auto;
    top: @half-gutter;
    left: @half-gutter;
    right: @half-gutter;
    border-radius: 2px;

    > ul{
      padding: @half-gutter;
    }
  }

  li {
    display: inline-block;
    margin-left: @half-gutter;
    margin-right: @half-gutter;
  }
  a {
    color: @hit-grey;
    
    &:focus,
    &:hover,
    &:active {
      color: @cape-cod;
    }
  }
}

.logo-banner {
  position: absolute;
  left: @quarter-gutter;
  top: @quarter-gutter;
  font-size: 0;
  line-height: 0;
  img {
    width: @gutter;
  }

  @media(min-width: @screen-md-min){
    left: @half-gutter;
    top: 0;
    img {
      width: 48px;
    }
  }
}

.logo-text {
  position: absolute;
  top: @half-gutter;
  bottom: @half-gutter;
  left: @gutter*3.5;

  img {
    height: 100%;
  }
}

.hamburger {
  position: absolute;
  right: @half-gutter;
  top: @half-gutter;
  line-height: 0;
  color: @hit-grey;
}


// .nav-opened {
//   .site-wrapper {
//     overflow-x: hidden;
//     -webkit-transform: translate3D(0, -240px, 0);
//         -ms-transform: translate3D(0, -240px, 0);
//             transform: translate3D(0, -240px, 0);
//     -webkit-transition: -webkit-transform 0.3s ease;
//             transition: transform 0.3s ease;
//   }
//   .nav-cover {
//     position: fixed;
//     top: 240px;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 200;
//   }
// }

// .nav {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 5;
//   width: 240px;
//   opacity: 0;
//   background: #111;
//   margin-bottom: 0;
//   text-align: left;
//   overflow-y: auto;
//   -webkit-transition: -webkit-transform 0.5s ease,
//                       opacity 0.3s ease 0.7s;
//           transition: transform 0.5s ease,
//                       opacity 0.3s ease 0.7s;
  
//   .nav-closed & {
//     // -webkit-transform: translate3D(97px, 0, 0);
//     //     -ms-transform: translate3D(97px, 0, 0);
//     //         transform: translate3D(97px, 0, 0);
//   }

//   .nav-opened & {
//     opacity: 1;
//     -webkit-transition: -webkit-transform 0.3s ease,
//                         opacity 0s ease 0s;
//             transition: transform 0.3s ease,
//                         opacity 0s ease 0s;
//     -webkit-transform: translate3D(0, 0, 0);
//         -ms-transform: translate3D(0, 0, 0);
//             transform: translate3D(0, 0, 0);
//   }
// }
